* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: normal 1em/1.5 "Arial";
  color: rgb(77, 72, 72)
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

li {
  color: rgb(54, 53, 53);
  padding: 20px;
  border-bottom: 1px solid;
}

label {
  margin-left: 20px;
  font-size: 1.2em;
}

.answer-container {
  padding-top: 10px;
}

.answer-title {
  margin: 0;
  font-weight: bold;
}

.answer {
  margin: 0;
}

.correct {
  color: rgb(17, 190, 17);
}

.wrong {
  color: rgb(218, 57, 57);
}

.start {
  text-align: center;
}

.container {
  width: 90%;
  padding: 1%;
  margin: 3% auto;
}

.header {
  width: 100%;
}

.progress {
  text-align: right;
}

.button-container {
  width: 100%;
  text-align: center;
}

.submit-button,
.start-button {
  width: 100%;
  background: linear-gradient(10deg, #EE6640 0%, #FA4D6D 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 2em 2px;
  cursor: pointer;
  border-radius: 3px;
}

@media screen and (min-width: 600px) {
  .container {
    width: 70%;
  }
  .header {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 60%;
  }

}
